.App {
  height: 100vh;
}
.NavContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10rem;
  padding-top: 20px;
}
.BtnContainer {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.PlusIcon {
  position: absolute;
  top: 22%;
  right: 60px;
  width: 16px;
  height: 16px;
  text-align: center;
  font-size: large;
  font-weight: 900;
  color: #e4e4ee;
}
.btn {
  text-align: center;
  border: none;
  border-radius: 4px;
  background: #391e5a;
  color: #e4e4ee;
  padding: 0.5rem 2rem;
  cursor: pointer;
  font-family: Nunito Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.search-container {
  position: relative;
}

.search-input {
  padding: 10px;
  padding-right: 40px; /* Space for the icon */
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #391e5a;
  cursor: pointer;
}
.TableContainer {
  margin-top: 2rem;
}